<div class="item">
  <div class="contentchitiet">
    <h2 class="name">Our Favorite Elopements  </h2>
    <p class="daynews">11:30:29, Jan 2, 2023</p>
    <p class="content1">Our 2023 Preview Collection is here! Featuring beautiful bows, soft ruffles, and trendy elements our 2023 Preview Collection has something for every bridesmaid.



      An original design from our Bridal Capsule earlier this year, Revelry brides showed their love to our Steph mini dress - so much that we had to make it in a full length bridesmaid dress. Steph offers a modest high neckline, plunging back with a statement bow detail. Made in our stretch crepe for a tailored yet comfortable fit.



      Stylist tip: Don't limit Steph to just your bridesmaids - order in white pearl for any elegant wedding festivity!</p>
    <div class="img">
      <img class="img-full" src="\assets\blog\jump_1024x1024.png"/>
    </div>
    <p class="content2">Our 2023 Preview Collection is here! Featuring beautiful bows, soft ruffles, and trendy elements our 2023 Preview Collection has something for every bridesmaid.



      An original design from our Bridal Capsule earlier this year, Revelry brides showed their love to our Steph mini dress - so much that we had to make it in a full length bridesmaid dress. Steph offers a modest high neckline, plunging back with a statement bow detail. Made in our stretch crepe for a tailored yet comfortable fit.



      Stylist tip: Don't limit Steph to just your bridesmaids - order in white pearl for any elegant wedding festivity!</p>
    <div class="box">
      <span>Like</span>
      <img class="share" src="" />
    </div>
    <div class="box">
      <span>Share</span>
      <img class="like" src="" />
    </div>
  </div>
</div>
