.breadcrumb{
    padding-top: 70px;
}
.breadcrumb a{
    Color: inherit;
    text-decoration: none;
    font-size: 17px;
}
.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}
.w-30{
    width: 28vw;
}
.shop a{
    text-decoration: none;
    color: inherit;
}
.shop a:hover{
    text-decoration: underline;
    text-decoration-color: #A7717E;
}