/* body{
  margin: 0;
  width: 1728px;
} */

/*Header*/
/* .header {
  display: flex;
  background: #9CCD62;
  font-family: inter;
  position: relative;
}
.header a{
  text-decoration: none;
  font-size: 28px;
  margin: 35px 0px 0px 35px ;
}
.header_logo {
  margin: 11px 0px 11px 27px;
}
.header_search{
  margin: 25px 0px 0px 35px ;
  position: relative;
}
.header_search_input{
  width: 269px;
  height: 45px;
  border: 1px solid #646464;
  border-radius: 20px;
  background-color:rgba(255, 255, 255, 0);
  font-size: 24px;
  padding-left: 15px;
}
.header_search i{
  position: absolute;
  top: 22px;
  left: 230px;
  color:#646464;
  color:
} */
.gender{
  font-size:30px;
 margin-right: 10px;
}
.gender_text{
  margin-right: 70px;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  /* margin: 10px; */
  background-color:rgba(167, 113, 126, 1) ;
  border : none;
  width: 200px;
  font-size:22px;
  margin-top: 5px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.btn-choosefile{
  background-color:rgba(167, 113, 126, 1) ;
  border:none;
}
/* Update Information*/
.update_infor_main{
  font-family: 'Inter';
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
.update_img{
  border: 2px solid rgba(167, 113, 126, 1);
  border-radius: 5px;
  width: 35%;
  text-align: center;
  padding-bottom: 30px;
  height: 800px;
}
.update_p1{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.profile_img{
  border-radius: 50%;
}
.profile_name{
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 0px;
}
.profile_phone{
  font-style: italic;
  font-size: 28px;
  margin-top: 5px;
}
.profile_address{
  font-size: 28px;
}
.profile_update_img{
  font-size: 28px;
  font-weight: 600;
  margin-top: 50px;
}
.choose_img, .chosse_update{
  border: none;
  background-color: rgba(167, 113, 126, 1);
  border-radius: 10px;
}
.choose_img:hover, .chosse_update:hover{
  background-color: rgba(157, 157, 157, 1);
}
.choose_img {
  width: 163px;
  height: 42px;
  font-size: 20px;
}
.chosse_update{
  width: 180px;
  height: 50px;
  font-size: 25px;
}
.update_infor{
  border: 1px solid rgba(167, 113, 126, 1);
  border-radius: 5px;
  width: 55%;
}
.changePW{
  border: 1px solid rgba(167, 113, 126, 1);
  border-radius: 5px;
  width: 55%;
}
.choose_container_update{
  display: flex;
  justify-content: space-around;
}
.form-control{
  width:700px;
  height:130px;
  margin-bottom: 20px;
  margin-right: -200px;
}
.form__label{
  margin-right: 100px;
}
.form-row{
  margin: 10px;
  display: flex;
  padding: 30px 10px;
}
.form__label{
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  min-width: 350px;
}
.form-input{
  width: 690px;
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  height: 50px;
  text-align: right;
}
.orderHistory_container{
  border: 1px solid rgba(167, 113, 126, 1);
  border-radius: 5px;
  width: 55%;
  min-height: 1500px;
}
.reviewOH_container{
  border: 1px solid rgba(167, 113, 126, 1);
  border-radius: 5px;
  width: 55%;
}
.status{
  float: right;
}
.right{
  display:flex;
  flex-direction: column;
}
.reviewSP{
  display:flex;
}
.line{
  color:rgba(167, 113, 126, 1);
  width:1200px;
  height:5px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
/*Footer*/
.footer{
  display: flex;
  justify-content: space-between;
  background: #9CCD62;
  padding: 20px 306px;
  font-family: inter;
  font-size: 16px;
}
.footer ul{
  margin: 0px;
  list-style: none;
}
.footer li{
  padding: 7px;
}
.footer i{
  padding: 0px 5px 10px;
}
.footer a{
  color: black;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
.footer_line{
  width: 350px;
  border: 0.5px solid rgb(78, 78, 78);
  border-radius: 30px;
}
.footer_copy{
  font-family:Roboto;
  color: white;
  font-size: 18px;
  margin: 15px 0px 0px;
}
.menu {
  list-style: none;
  margin-top: 50px;
}
.submenu {
  display:none;
  margin-left: 50px;
}
.menu li:hover > .submenu {
  display: block;
}
.fun_1{
  text-align: left;
  margin-bottom:40px;
  font-size:24px;
}
.fun_2{
  text-align: left;
  font-size:24px;
}
.icon_fun1{
  margin-left: 30px;

}
.icon_fun{
  margin-left: 20px;
}
.container_historyor{
  display:flex;
}
.container_historyor_left{
margin-left:100px;
margin-right: 300px;
font-size:24px;
}
.cmt_review{
  display:flex;
}
.container_review{
  display:flex;
}
.info_sp p{
  margin-top: -15px;
  margin-left: 10px;
}
.btn-review{
  display: flex;
  margin-top: 200px;
}
.container_historyor_right{
  margin-left:300px;
  font-size:24px;
  text-align: right;
}
.btn-orhis{
background-color: rgba(167, 113, 126, 1);
width: 200px;
height: 60px;
margin-left: 5px;
margin-right: 5px;
border: none;
border-radius: 10px;
}
.btn-orhis1{
  background-color: rgba(167, 113, 126, 1);
width: 200px;
height: 60px;
/* margin-left: 5px;
margin-right: 5px; */
border: none;
border-radius: 10px;
float:right;
font-size: 25px;
}
.btn-up{
  background-color: white;
  width: 200px;
  height: 130px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  border: 3px solid rgba(167, 113, 126, 1);
  border-radius: 20px;
}
.total{
  padding-top: 150px;
  padding-bottom: 30px;
  color:rgba(167, 113, 126, 1);
}
