

<div class="container-fluid p-0 brixton">

<!-- HEADER -->
<div class="header">
  <!-- Top message -->
  <div class="relative text-center text-white h-30px">
      <img class="absolute top-0 left-0 w-full h-full" src="/assets/homepage/call_action.png" alt="">

      <div class="absolute top-0 left-0 w-full h-full bg-mask--gray">

      </div>
      <p class="relative" style="font-family: Brixton;">
          FREE SHIPPING
          FOR ORDERS $200.
          <a href="" style="color: aliceblue;">SHOP NOW</a>
      </p>
  </div>

  <!-- Nav bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-beige h-60px">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="bi bi-justify"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-2" id="navbarSupportedContent">
          <div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown px-2">
                      <a class="nav-link fs-20" style="color: black;">SHOP</a>
                      <ul class="dropdown-content">
                        <li><a href="#">SHOP BY FABRIC</a></li>
                        <li><a href="#">SHOP BY COLOR</a></li>
                        <li><a href="#">SHOP BEST SELLER</a></li>
                      </ul>
                  </li>

                  <li class="nav-item px-2">
                      <a class="nav-link fs-20" style="color: black;" href="#">PROMOTION</a>
                  </li>

                  <li class="nav-item px-2">
                      <a class="nav-link fs-20" style="color: black;" href="#">HOME TRY ON</a>
                  </li>

              </ul>
          </div>

          <div>
              <a class="navbar-brand mb-2 mb-lg-0 fs-25" href="#">ELITE</a>
          </div>

          <div class=" d-flex">
              <a Class="nav-link px-3 fs-20" href="#">BLOG</a>
              <a Class="nav-link px-3 fs-20" href="#">OUR STORY</a>
              <i class="bi bi-search ps-5 px-3" style="font-size: 20px;"></i>
              <i class="bi bi-person-circle px-3" style="font-size: 20px;"></i>
              <i class="bi bi-handbag px-3" style="font-size: 20px;"></i>
          </div>
        </div>
      </div>
    </nav>
</div>
<!-- HEADER -->

<!-- <app-homepage class="content"></app-homepage> -->
<!-- <app-loginpage class="content"></app-loginpage> -->
<!-- <app-registerpage></app-registerpage> -->
<!-- <app-forgotpassword></app-forgotpassword> -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="bg-light text-center text-lg-start " class="footer">
  <!-- Grid container -->
  <div class="container p-4 mt-5">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" class="col">
        <h5 class="text-uppercase" class="Text_title">COMPANY</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <P href="#!" class="text-dark" class="row_li">ELITE</P>
          </li>
          <li>
            <p href="#!" class="text-dark" class="row_li">8136 Industry Way, Suite  500Austin, TX, 78744</p>
          </li>
          <li>
            <p href="#!" class="text-dark" class="row_li">This is our warehouse. We do not have a physical storefront.</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" class="col">
        <h5 class="text-uppercase mb-0" class="Text_title">COMMUNITY</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark row_li">Our Story</a>
          </li>
          <li>
            <a href="#!" class="text-dark row_li">Size Guide</a>
          </li>
          <li>
            <a href="#!" class="text-dark row_li">Refund Policy</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" class="col">
        <h5 class="text-uppercase" class="Text_title">SAY HEY!</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <P href="#!" class="text-dark" class="row_li">Call Us: (856) 770-2165 <BR/>
              Mon-Fri 9am - 5pm CST</P>
          </li>
          <li>
            <P href="#!" class="text-dark" class="row_li">hello@elite.com</P>
          </li>
          <li>
            <p href="#!" class="text-dark" class="row_li">Text us: (856) 770-2161</p>
          </li>
          </ul>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
