<h3>ELITE SIZE CHART</h3>
<div class="container_main">
  <div class="container_bang">
    <table class="sizeChart">
    <tr>
      <th class="square1">Size</th>
      <th class="square1">Numeric Size</th>
      <th class="square2">Bust</th>
      <th class="square2">Waist</th>
      <th class="square2">Hip</th>
    </tr>
    <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr>
    <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr>
    <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr> <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr> <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr> <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr> <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr> <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr> <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr> <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr> <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr> <tr>
      <td class="square1">S</td>
      <td class="square1">4</td>
      <td class="square2">33.5 IN / 85 CM</td>
      <td class="square2">27 IN / 68.6 CM</td>
      <td class="square2">37.5 IN / 95.3 CM</td>
    </tr>
  </table>
  </div>
  <div>
    <img src="\assets\sizechart\HowToMeasureGuide_V2 1.png" class="img_mau">
  </div>
</div>
